<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>FlyAway</display-name>
    <servlet>
    	<description>
    	</description>
    	<display-name>Admindat</display-name>
    	<servlet-name>Admindat</servlet-name>
    	<servlet-class>com.FlyAway.controller.Admindat</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Adminformser</display-name>
    	<servlet-name>Adminformser</servlet-name>
    	<servlet-class>com.FlyAway.controller.Adminformser</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Booking</display-name>
    	<servlet-name>Booking</servlet-name>
    	<servlet-class>com.FlyAway.controller.Booking</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Changepassword</display-name>
    	<servlet-name>Changepassword</servlet-name>
    	<servlet-class>com.FlyAway.controller.Changepassword</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Flightbookingreport</display-name>
    	<servlet-name>Flightbookingreport</servlet-name>
    	<servlet-class>com.FlyAway.controller.Flightbookingreport</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>flightdetail</display-name>
    	<servlet-name>flightdetail</servlet-name>
    	<servlet-class>com.FlyAway.controller.flightdetail</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Getplaces</display-name>
    	<servlet-name>Getplaces</servlet-name>
    	<servlet-class>com.FlyAway.controller.Getplaces</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>redirectingtosecureserver</display-name>
    	<servlet-name>redirectingtosecureserver</servlet-name>
    	<servlet-class>com.FlyAway.controller.redirectingtosecureserver</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>registerpageinfo</display-name>
    	<servlet-name>registerpageinfo</servlet-name>
    	<servlet-class>com.FlyAway.controller.registerpageinfo</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>userlogin</display-name>
    	<servlet-name>userlogin</servlet-name>
    	<servlet-class>com.FlyAway.controller.userlogin</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>userregistration</display-name>
    	<servlet-name>userregistration</servlet-name>
    	<servlet-class>com.FlyAway.controller.userregistration</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>Admindat</servlet-name>
    	<url-pattern>/Admindat</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Adminformser</servlet-name>
    	<url-pattern>/Adminformser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Booking</servlet-name>
    	<url-pattern>/Booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Changepassword</servlet-name>
    	<url-pattern>/Changepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Flightbookingreport</servlet-name>
    	<url-pattern>/Flightbookingreport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>flightdetail</servlet-name>
    	<url-pattern>/flightdetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Getplaces</servlet-name>
    	<url-pattern>/Getplaces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>redirectingtosecureserver</servlet-name>
    	<url-pattern>/redirectingtosecureserver</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>registerpageinfo</servlet-name>
    	<url-pattern>/registerpageinfo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>userlogin</servlet-name>
    	<url-pattern>/userlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>userregistration</servlet-name>
    	<url-pattern>/userregistration</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
